table {
  border-collapse: collapse;
  display: table;
  margin: 20px 0;
  width: 100%;

  thead tr {
    background-color: var(--divider);
    border: 0;
  }

  tr th {
    text-transform: uppercase;
    padding: 6px 10px;
    font-size: 0.7rem;
    text-align: left;
  }

  tr td {
    font-size: 90%;
    line-height: 1.3em;
    padding: 10px;
    text-align: left;

    code {
      display: inline-block;
      line-height: 1.2em;
      vertical-align: top;
    }

    ul {
      margin: 8px 0 0 0;
      padding: 4px 0 4px 20px;
    }
  }

  hr {
    margin: 12px 0;
  }

  .wideColumn {
    width: 128px;
  }

  .widerColumn {
    width: 180px;
  }

  .table-heading {
    font-weight: var(--ifm-table-head-font-weight);
    border-bottom: 2px solid var(--ifm-table-border-color);
  }

  div[class^="codeBlockContainer"] {
    &,
    & pre {
      margin-bottom: 0;
    }

    pre code {
      padding: 12px 16px;
      white-space: break-spaces;
    }

    button {
      display: none;
    }
  }
}
